{% load static %}
<section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>About</h2>
        <p>Hello! I'm Raymond Maharjan, a budding Python enthusiast eager to embark on a journey into the realms of data science and machine learning. 
          Currently, I'm a student exploring the exciting world of programming and analytics. My passion for technology and the boundless possibilities 
          it offers has fueled my interest in Python, and I am thrilled to apply it to the fascinating fields of data science and machine learning.</p>
      </div>

      <div class="row">
        <div class="col-lg-4">
          <img src="{% static 'img/profile-img.jpg' %}" class="img-fluid" alt="">
        </div>
        <div class="col-lg-8 pt-4 pt-lg-0 content">
          <h3>Data Science Enthusiast</h3>
          <p class="fst-italic">
            I am currently pursuing my B.Sc.(hons) Computing  at IIMS College. Although I am at the early stages 
            of my academic journey, my eagerness to learn and my dedication to mastering Python programming have been driving forces in my studies.
          </p>
          <div class="row">
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>09 AUG 2002</span></li>
                {% comment %} <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>www.example.com</span></li> {% endcomment %}
                <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+977 9863465657</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Kathmandu, Nepal</span></li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>22</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>B.Sc.(hons) Computing</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>raymondmhz63@gmail.com</span></li>
                {% comment %} <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li> {% endcomment %}
              </ul>
            </div>
          </div>
          <p>
            My primary goal is to build a strong foundation in Python and progressively delve into the intricacies of data science and machine learning.
             I am excited about the prospect of applying Python to real-world problems and discovering innovative solutions.
          </p>
        </div>
      </div>

    </div>
  </section>