{% load static %}
<section id="about" class="about">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>About</h2>
      <p>Hello! I'm Raymond Maharjan, a detail-oriented Software QA Engineer with hands-on experience in both manual and automated testing of web and mobile applications. Proficient in Cypress, Appium (WebdriverIO - JavaScript), Postman, JMeter, and SQL scripting, I specialize in delivering high-quality, high-performance solutions through collaborative and analytical problem-solving.</p>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <img src="{% static 'img/profile-img.jpg' %}" class="img-fluid" alt="">
      </div>
      <div class="col-lg-8 pt-4 pt-lg-0 content">
        <h3>Software QA Engineer</h3>
        <p class="fst-italic">
          I currently work as a QA Associate at Bajra Technologies, where I contribute to testing high-impact web and mobile applications. I hold a Bachelor's in Computer Science (Hons) from IIMS College and am passionate about continuous learning—particularly in data-centric and healthcare domains.
        </p>
        <div class="row">
          <div class="col-lg-6">
            <ul>
              <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>09 AUG 2002</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+977 9863465657</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Kathmandu, Nepal</span></li>
            </ul>
          </div>
          <div class="col-lg-6">
            <ul>
              <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>22</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>B.Sc.(Hons) Computing</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>raymondmhz63@gmail.com</span></li>
            </ul>
          </div>
        </div>
        <p>
          I'm driven by a passion for software quality, automation, and innovation. I enjoy translating business requirements into actionable test plans and continuously strive to sharpen my skills in Python, data analysis, and testing frameworks.
        </p>
      </div>
    </div>
  </div>
</section>
