{% load static %}
<section id="contact" class="contact">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Contact</h2>
    </div>

    <div class="row mt-1">
      <div class="col-lg-4">
        <div class="info">
          <div class="address">
            <i class="bi bi-geo-alt"></i>
            <h4>Location:</h4>
            <p>Kirtipur, Kathmandu</p>
          </div>

          <div class="email">
            <i class="bi bi-envelope"></i>
            <h4>Email:</h4>
            <p>raymondmhz63@gmail.com</p>
          </div>

          <div class="phone">
            <i class="bi bi-phone"></i>
            <h4>Call:</h4>
            <p>+977 9863465657</p>
          </div>
        </div>
      </div>

      <div class="col-lg-8 mt-5 mt-lg-0">
        <form method="post" id= "contact-form">
          {% csrf_token %}
          <div class="row">
            <div class="col-md-6 form-group">
              {{ form.name }} {{ form.name.errors }}
            </div>
            <div class="col-md-6 form-group mt-3 mt-md-0">
              {{ form.email }} {{ form.email.errors }}
            </div>
          </div>
          <div class="form-group mt-3">
            {{ form.subject }} {{ form.subject.errors }}
          </div>
          <div class="form-group mt-3">
            {{ form.message }} {{ form.message.errors }}
          </div>
          <button type="submit">Send Message</button>
        </form>
        {% if message_sent %}
        <div
          class="alert alert-success alert-dismissible fade show"
          role="alert"
        >
          Message has been sent!
        </div>
        {% endif %}
        
      </div>
    </div>
  </div>
</section>
