{% load static %}
<section id="portfolio" class="portfolio section-bg">
  <section id="portfolio" class="portfolio">
    <h3>Portfolio Section</h3>

    {% if repos %}
    <p>Number of repos: {{ repos|length }}</p>
    {% for repo in repos %}
    <div>
      <h4>{{ repo.name }}</h4>
      <p>{{ repo.description }}</p>
      <img src="https://opengraph.githubassets.com/1/{{ repo.full_name }}" alt="{{ repo.name }}" width="300">
      <a href="{{ repo.html_url }}" target="_blank">View on GitHub</a>
    </div>
    {% endfor %}
    {% else %}
    <p>No repositories found.</p>
    {% endif %}


  </section>

</section>