{% load static %}
<section id="resume" class="resume">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Resume</h2>
      <p>Detail-oriented Software QA Engineer with hands-on experience in both manual and automated testing of web and mobile applications. Proficient in Cypress, Appium (WebdriverIO), Postman, JMeter, and SQL. Passionate about testing high-performance solutions and collaborating with cross-functional teams in agile environments.</p>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <h3 class="resume-title">Summary</h3>
        <div class="resume-item pb-0">
          <h4>Raymond Maharjan</h4>
          <p><em>Skilled QA Engineer with expertise in Cypress, Appium, Postman, JMeter, SQL scripting, and a strong foundation in Python, Java, and JavaScript. Proven track record of improving debugging and issue detection by up to 80% through automation.</em></p>
          <ul>
            <li>Kathmandu, Kirtipur</li>
            <li>(+977) 9863465657</li>
            <li>raymondmhz63@gmail.com</li>
          </ul>
        </div>

        <h3 class="resume-title">Work Experience</h3>
        <div class="resume-item">
          <h4>QA Associate</h4>
          <h5>Jun 2024 – Present</h5>
          <p><em>Bajra Technologies, Kathmandu, Nepal</em></p>
          <ul>
            <li>Performed manual and automated testing on web/mobile platforms with a focus on functional, regression, and performance coverage.</li>
            <li>Automated core test cases using Appium (WebdriverIO), improving bug identification by 80%.</li>
            <li>Wrote optimized Cypress test scripts using utility functions for survey/appraisal modules.</li>
            <li>Used Postman for API validation and JMeter for performance testing.</li>
            <li>Collaborated across teams, tracked bugs via Jira, and ensured test visibility via reports.</li>
          </ul>
        </div>
      </div>

      <div class="col-lg-6">
        <h3 class="resume-title">Education</h3>
        <div class="resume-item">
          <h4>B.Sc.(Hons) Computing</h4>
          <h5>2020 - Present</h5>
          <p><em>IIMS College, Kathmandu</em></p>
          <p>Gained a comprehensive understanding of computing principles, software development, and QA methodologies.</p>
        </div>
        <div class="resume-item">
          <h4>+2 Science</h4>
          <h5>2018 - 2020</h5>
          <p><em>Arniko Int’l SS & College, Lalitpur</em></p>
          <p>Studied core science and mathematics subjects, including Physics, Chemistry, and Computer Science.</p>
        </div>
      </div>
    </div>
  </div>
</section>
