{% load static %}
<section id="resume" class="resume">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Resume</h2>
        <p>I'm enthusiastic about applying my skills and knowledge in a real-world professional setting through an internship opportunity. 
          My expertise lies in Python programming, SQL, React Native, Django, and Java.
           I'm adept at utilizing Git for version control and have experience with databases like MS-SQL and SQLite.</p>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <h3 class="resume-title">Sumary</h3>
          <div class="resume-item pb-0">
            <h4>Raymond Maharjan</h4>
            <p><em>My expertise lies in Python programming, SQL, React Native, Django, and Java.
              I'm adept at utilizing Git for version control and have experience with databases like MS-SQL and SQLite.</em></p>
            <ul>
              <li>Kathmandu, kirtipur</li>
              <li>(+977) 9863465657</li>
              <li>raymondmhz63@gmail.com</li>
            </ul>
          </div>          
        </div>
        <div class="col-lg-6">
          <h3 class="resume-title">Education</h3>
          <div class="resume-item">
            <h4>B.Sc.(hons) Computing</h4>
            <h5>2020 - Present</h5>
            <p><em>IIMS College,Kathmandu</em></p>
            <p>Through a comprehensive curriculum, I've gained a solid understanding of fundamental computing principles, programming languages, and software development methodologies.</p>
          </div>
          <div class="resume-item">
            <h4>+2 Science </h4>
            <h5>2018 - 2020</h5>
            <p><em>Araniko Int'll SS & College, Satdobato</em></p>
            <p> Here, I focused on building a strong foundation in science and mathematics, laying the groundwork for my future studies in computing. Engaging with subjects like Mathematics, Physics, and Computer </p>
          </div>
          {% comment %} <h3 class="resume-title">Professional Experience</h3>
          <div class="resume-item">
            <h4>Senior graphic design specialist</h4>
            <h5>2019 - Present</h5>
            <p><em>Experion, New York, NY </em></p>
            <ul>
              <li>Lead in the design, development, and implementation of the graphic, layout, and production communication materials</li>
              <li>Delegate tasks to the 7 members of the design team and provide counsel on all aspects of the project. </li>
              <li>Supervise the assessment of all graphic materials in order to ensure quality and accuracy of the design</li>
              <li>Oversee the efficient use of production project budgets ranging from $2,000 - $25,000</li>
            </ul>
          </div>
          <div class="resume-item">
            <h4>Graphic design specialist</h4>
            <h5>2017 - 2018</h5>
            <p><em>Stepping Stone Advertising, New York, NY</em></p>
            <ul>
              <li>Developed numerous marketing programs (logos, brochures,infographics, presentations, and advertisements).</li>
              <li>Managed up to 5 projects or tasks at a given time while under pressure</li>
              <li>Recommended and consulted with clients on the most appropriate graphic design</li>
              <li>Created 4+ design presentations and proposals a month for clients and account managers</li>
            </ul>
          </div> {% endcomment %}
        </div>
      </div>
      
    </div>
  </section>